nav {
  height: 70px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 80px;
}

.link {
  text-decoration: none;
}

.link:nth-child(2) {
  margin: 0 30px;
}

.active {
  color: red;
}
